streamlit
pandas
geopandas
pydeck
shapely
requests
beautifulsoup4
matplotlib
plotly
git+https://github.com/seanhockstein/noaa-coops.git@master #manually added to avoid conflict
tqdm
dataretrieval
meteostat
